
body {
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    margin-right: 300px;
}

.navbar a{
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.awesome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.maintext{
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.altdakitext{
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.signup{
    height: 30px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
    color: white;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.awitem1{
    text-align: left;
    margin-top: 80px;
    margin-left: 200px;
    height: 250px;
    flex: 1;
}

.awitem2{
    margin-top: 80px;
    margin-right:200px;
    height: 250px;
    background-color:steelblue;
    flex: 1;
}

.random{
    background-color: white;
    margin-top: 150px;
    height: 500px;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.infoo{
    height: 200px;
    width: 200px;
    margin-left: 40px;
}

.infos{
    color: #a5a7aa;
}

#infor{
    margin-top: 40px;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 30px;
    color: #1F2937;
}

.info{
    border: 4px solid #3882F6;
    border-radius: 15px;
    height: 160px;
    width: 160px;
    margin: 20px;
}

.quote{
    background-color: #E5E7EB;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.quote1{
    flex: 1;
}
.quote2{
    flex: 3;
}

.quote p{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote h4{
    font-size: 20px;
    text-align: end;
}

.action{
    background-color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionbutton1{
    flex: 1;
}

.actionbutton{
    display: flex;
    background-color: #2882f6;
    border-radius: 15px;
    flex: 5;
    height: 150px;
}

.action1{
    flex: 4;
}

.call{
    color: white;
    font-size: 30px;
    text-align:left;
    margin: 0;
    margin-top: 50px;
}

.action3{
    flex: 1;
}

.action1 p{
    color: #E5E7EB;
    text-align: left;
    margin-top: 5px;
}

.action2{
    display: flex;
    flex: 2;
    justify-content: left;
    align-items: center;
}

.action2 button{
    height: 40px;
    width: 140px;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
    color: white;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: 'Roboto', arial;
}
